<div class="w3-row-padding">
  <div class="w3-col m12">
    <div class="w3-card w3-round w3-white">
      <div class="w3-container w3-padding">
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Buscar idea, reto o usuario...">
        <button type="button" class="w3-button w3-theme" style="margin-right: 5px"><i class="fa fa-lightbulb-o"></i>  Buscar idea</button>
        <button type="button" class="w3-button w3-theme" style="margin-right: 5px"><i class="fa fa-pencil"  ></i>  Buscar reto</button>
        <button type="button" class="w3-button w3-theme" style="margin-right: 5px" ><i class="fa fa-users"></i>  Buscar usuario</button>
        <tr *ngFor="let user of users">
          <td>{{ user.firstName }}</td>
        </tr>
      </div>
    </div>
  </div>
</div>

