<!-- Contenido de la pagina izquierda-->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- Grid-->
  <div class="w3-row">
    <!-- Columna izquierda-->
    <div class="w3-col m3">
      <app-perfil></app-perfil>
    </div>
    <!-- Columna central-->
    <div class="w3-col m7">
      <app-buscador-idea-reto></app-buscador-idea-reto>
      <app-noticia></app-noticia>
    </div>
    <!-- Columna derecha-->
    <div class="w3-col m2">
      <app-proximo-evento></app-proximo-evento>
    </div>
  </div>

</div>
