
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <div class="w3-panel">
    <label>Nombre reto:</label>
    <input class="w3-input w3-border w3-margin-bottom" type="text">
    <label>Estado</label>
    <input class="w3-input w3-border w3-margin-bottom" type="text">
    <textarea class="w3-input w3-border" style="resize:none" style="height:150px" placeholder="Escribe tu reto"></textarea>
    <div class="w3-section">
      <a routerLink="/home" class="w3-button w3-red" >Cancelar <i class="fa fa-remove"></i></a>
      <a class="w3-button w3-light-grey w3-right" >Subir  <i class="fa fa-paper-plane"></i></a>
    </div>
  </div>

</div>
