<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
  <span class="w3-right w3-opacity">1 min</span>
  <h4>Gabriel Fuentes</h4><br>
  <hr class="w3-clear">
  <p>Subí una idea.</p>
  <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-half">
      <img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
    </div>

  </div>
  <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" style="margin-right: 5px"><i class="fa fa-star" ></i>  Valorar</button>
  <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" style="margin-right: 5px"><i class="fa fa-comment"></i>  Comentar</button>
</div>
